body {
	text-align: right;
	font-size: 20px;
	font-family: monospace;
	.font-family: Courier;
	.font-family: Times New Roman;
	width: 63%;
	margin: 0 auto;
}

h1 {
	color: red;
	padding: 10px;
	border-bottom: 3px dashed blue;
}

h2, h3, h4, h5 {
#	border-bottom: 1px solid blue;	
	padding: 10px;	
	margin: 10px;
}

h2 { color: green }
h3 { color: orange }

blockquote {
	border-width: 2px;
	border-color: blue;
	border-style: solid;
	padding: 22px;
	margin: 30px;
}

footer {
	padding: 33px;
	text-align: center;
}

button {
	font-size: 28px;
	border: none;
	background-color: #FFFFFF;
}

.play_button { 
	color: green;
}

.pause_button {
	color: red;
}

.replay_button {
	color: orange;
}
