body {
	font-size: 20px;
	font-family: monospace;
	width: 777px;
	margin: 0 auto;
}

h1 {
	text-align: right;
	padding: 10px;
}

h2, h3, h4, h5 {
	border: 3px solid blue;
	padding: 10px;	
	margin: 10px;
}

blockquote {
	padding: 22px;
}
