/*--------------------------------------------------
Article
---------------------------------------------------*/

.article {
  header {
    figure {
      display: block;
      figcaption {
        float: right;
        font-size: 12px;
        font-style: italic;
        margin-top: 15px;
        letter-spacing: 2px;
      }
    }

    .meta-data {
      padding: 60px 20px;
      text-align: center;

      h3 {
        text-transform: uppercase;

        a {
          color: $font-color;
          text-decoration: none;

          &:hover {
            color: $link-color;
          }
        }
      }

      

      .author {
         
        font-size: 14px;
        margin: 0;
        
        time {
       
          padding-right: 18px;
          font-family: $font-heading;
          font-size: 16px;
          letter-spacing: 2px;
          font-weight: 600;
        }
      }
    }
  }

  .entry-content {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    clear: both;

  }

  footer {
    padding: 60px 20px;
    margin: 0;
    background: none;
    border: none;
    text-align: center;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}