/*--------------------------------------------------
Footer
---------------------------------------------------*/




footer {

	border-top: 1px solid #f9f9f9;
	background-color: #fcfcfc;
	padding: 60px 0 10px 0;
	text-align: center;

	.copyright {
		float: none;
		font-family: $font-heading;
		font-size: 16px;
		display: inline-block;
		margin: 0 auto 40px auto;

		a {
			text-decoration: none;
		}
	}

	.backtotop {
		float: right;
		position:relative;
		text-decoration: none;
		height: 40px;
		width: 40px;
		text-indent: -99999px;
		margin-right: 20px;
		white-space: nowrap;
		background: rgba(0, 0, 0, 0.8) url(../img/top-arrow.png) no-repeat center 50%;
		-webkit-transition: .5s all;
		-o-transition: .5s all;
		-moz-transition: .5s all;
		transition: .5s all;

		&:hover {

			background-color: $primary-color;
			-webkit-transition: .5s all;
			-o-transition: .5s all;
			-moz-transition: .5s all;
			transition: .5s all;

		}
	}
}





