/*--------------------------------------------------
Language Styles
---------------------------------------------------*/

.languages {
    position: relative;
    float: left;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    padding-left: 20px;
}
.languages ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.6
}
.languages ul li {
    display: inline-block;
    margin: 0;
    line-height: 0;
}
.languages ul li a {
    font-family: 'Aqua Grotesque','sans-serif';
    line-height: 14px;
    text-decoration: none;
    color: $font-color;
}
.languages ul li a.active {
    color: $link-color;
}