/*--------------------------------------------------
Pagination
---------------------------------------------------*/

.pagination {
	padding: 60px 20px;
	text-align: center;
	margin: 0 auto;
	border-top: 1px solid $light-grey;


	li {
		display: inline-block;
		margin: 0 10px;

		a {
			display: inline-block;
			text-decoration:none;
			-webkit-transition: .5s all;
			-o-transition: .5s all;
			-moz-transition: .5s all;
			transition: .5s all;

			&:hover {
				color: $link-color;
				-webkit-transition: .5s all;
				-o-transition: .5s all;
				-moz-transition: .5s all;
				transition: .5s all;
			}
		}

		a.next,
		a.prev {
			font-weight: 700;
			font-size: 14px;
			text-transform: uppercase;
			color: $font-color;
			letter-spacing: 1px;
			position: relative;
			font-family: $font-heading;

			&:hover {

		   		color: $link-color;

			}

		}


		a.next:focus,
   		a.prev:focus {
   			box-shadow: none	
   		}
	}

	li.disabled {opacity:0.2}
}
 
