/*--------------------------------------------------
Quote
---------------------------------------------------*/



.quote {
  margin: 30px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;

  .line-through {
    display: block;
    position: relative;
    border-bottom: 2px solid $dark-grey;
    height: 15px;

    span {
      position: absolute;
      display: inline-block;
      background: #fff;
      width: 200px;
      margin-left: -100px;
      line-height: 30px;
    }

    a {
      color: $font-color;
      text-decoration: none;

      &:hover {
        color: $link-color;
      }
    }

  }

  .stripe-border {
    background: linear-gradient(
      to bottom,
      #fff,
      #fff 90%,
      $dark-grey 90%,
      $dark-grey
    );
    background-size: 100% 8px;

    blockquote {
      background: #fff;
      margin: 0 10px;
      padding: 30px;
      font-size: 18px;
      font-size: 24px;
      line-height: 1.5;
    }
  }

  cite {
    font-style: normal;
  }
}
 

 