/*--------------------------------------------------
Responsive
---------------------------------------------------*/
@media (#{$bp-larger-than-mobile}) {
	

	.socials {

		margin: 2px 0 0 0;

		li {


			a {
				font-size: 1.6em;
	
			}
		}
	}

	.search-box {

		.btn-close {
			top: 30px;
			right: 30px;
			width: 15px;
			height: 15px;

			&:hover {
				opacity: 1;
			}
		}

		.help {
			margin-top: 30px;
			font-size: 12px;
			line-height: 1.7;
		}
	}

	.active.search-box {
		padding: 4em 2em;

		input[type=text] {
			font-size: 36px;
			height: 41px;
		 
		}
	}

	.nav { 

		ul { 

			li {

				a {
					padding: 0px 6px; 
					font-size: 13px;
					letter-spacing: 2px;
					font-weight: 600;

				}
			}
		}

	}
}

@media (#{$bp-larger-than-tablet}) {

	.top-bar {

		.box.box-1,
		.box.box-2 {
			width: 50%;
		}

	}

	.search-box {

		.btn-close {
			top: 60px;
			right: 60px;
			width: 15px;
			height: 15px;

			&:hover {
				opacity: 1;
			}
		}

		.help {
			margin-top: 70px;
			font-size: 12px;
			line-height: 1.7;
		}
	}

	.active.search-box {
		padding: 6em;

		input[type=text] {
			font-size: 50px;
			height: 61px;
		 
		}
	}

	.nav { 

		ul { 

			li {

				a {
					padding: 0px 30px; 
					font-size: 14px;
					letter-spacing: 2px;
					font-weight: 600;

				}
			}
		}

	}

	.article {
	  header {


	    .meta-data {
	      padding: 60px;

	      .author {       
	        time {
	          padding-right: 18px;
	          font-size: 16px;
	          letter-spacing: 2px;
	          font-weight: 600;
	        }
	      }
	    }
	  }

	  .entry-content {
	    max-width: 60%;
	  }

	  footer {
	    padding: 60px;
	  }
	}

	.pagination {


		li {

			margin: 0 20px;

			a.next,
			a.prev {
				font-size: 16px;

			}
		}

	}

	footer {

		border-top: 1px solid #f9f9f9;
		background-color: #fcfcfc;
		text-align: left;

		.copyright {
			float: left;
			font-family: $font-heading;
			font-size: 16px;

			a {
				text-decoration: none;
			}
		}

		.backtotop {
			float: right;
			text-decoration: none;
			position:relative;
			height: 40px;
			width: 40px;
			margin-top: -10px;
			text-indent: -99999px;
			white-space: nowrap;
			background: rgba(0, 0, 0, 0.8) url(../img/top-arrow.png) no-repeat center 50%;
			-webkit-transition: .5s all;
			-o-transition: .5s all;
			transition: .5s all;

			&:hover {

				background-color: $primary-color;
				-webkit-transition: .5s all;
				-o-transition: .5s all;
				transition: .5s all;

			}
		}
	}

	.languages {
		padding-left: 220px;
	}

}