/*--------------------------------------------------
Tags
---------------------------------------------------*/
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;

  li {
    float: left; 

    .tag {
      background: $light-grey;
      border-radius: 3px 0 0 3px;
      font-size: 12px;
      font-family: $font-heading;
      font-weight: 600;
      color: $dark-grey;
      display: inline-block;
      height: 26px;
      line-height: 26px;
      padding: 0 20px 0 23px;
      position: relative;
      margin: 0 10px 10px 0;
      text-decoration: none;
      -webkit-transition: color 0.2s;
      -webkit-transition: .5s all;
      -o-transition: .5s all;
      -moz-transition: .5s all;
      transition: .5s all;

      &:hover {
        background-color: $link-color;
        color: white;
        -webkit-transition: .5s all;
        -o-transition: .5s all;
        -moz-transition: .5s all;
        transition: .5s all;
      }
    }

    .tag::before {
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
    }

    .tag::after {
      background: #fff;
      border-bottom: 13px solid transparent;
      border-left: 10px solid $light-grey;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transition: .5s all;
      -o-transition: .5s all;
      -moz-transition: .5s all;
      transition: .5s all;
    }

    .tag:hover::after {
      border-left-color: $link-color; 
      -webkit-transition: .5s all;
      -o-transition: .5s all;
      -moz-transition: .5s all;
      transition: .5s all;
    }
  }
}