/*--------------------------------------------------
Top Bar
---------------------------------------------------*/
 

.top-bar {
	position:relative;
	border-bottom: 1px solid #f9f9f9;
	background-color: #fcfcfc;
	padding:10px 0;

	.box {
		float: left;
  		box-sizing: border-box;
	}

	.box.box-1{
		width: 80%;
	}

	.box.box-2 {
		width: 20%;
	}

} 

.search-box {
	margin-bottom: 0;
	float: right;

	p {
		margin-bottom: 0;
	}

	input.search_bar {
		font-family: $font-heading;
		border: none; outline: none;
		width: 38px;
		border-radius: 19px;
		margin: 8px auto 0 auto;
		padding: 18px;
		background: rgb(255, 255, 255) url(../img/src.png) no-repeat center center;
		border:2px solid $light-grey;

		-webkit-transition-property: border;
		-moz-transition-property: border;
		-o-transition-property: border;
		transition-property: border;
   		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
		transition-duration: 0.5s;

	}

	input.search_bar:hover {
		cursor: pointer;
		border:2px solid $dark-grey;
		-webkit-transition-property: border;
		-moz-transition-property: border;
		-o-transition-property: border;
		transition-property: border;
   		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
		transition-duration: 0.5s;

	}

	.btn-close {
		display: none;
		position: absolute;
		top: 20px;
		right: 20px;
		width: 15px;
		height: 15px;
		background-repead: no-repeat;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAYElEQVQoU2NkYGD4D8SMQEwq+A/TRKoBYPXINhJrAFwdunMJGYAij82vuAzAEMcVUOgKsRqIL5RhGnB6hVAU4Q0DmthMtp/JDm2y45mQRljax0hhxGpEMQAU2qRqhBsAAMdkHQ5jnOygAAAAAElFTkSuQmCC);
		cursor: pointer;
		opacity: .5;

		&:hover {
			opacity: 1;
		}
	}

	.help {
		display: none;
		margin-top: 20px;
		font-size: 12px;
		line-height: 1.7;
	}
}


.active.search-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0;
	padding: 2em;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10001;
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #1a1a1a;

	.btn-close,
	.help {
		display: block;
	}

	input[type=text] {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		font-size: 28px;
		border: none;
		background-color: transparent;
		color: #1a1a1a;
		outline: none;
		width: 100%;
		height: 31px;
		padding: 0;
		margin: 0;
		letter-spacing: -0.05em;
		-webkit-appearance: none;
	 
	}
	input.search_bar {
		background:none;

	}
}


.active.search-box input[type=text].placeholder,
.active.search-box input[type=text]:-moz-placeholder,
.active.search-box input[type=text]::-webkit-input-placeholder {
	color: #eeeeee;
}

.socials {

	margin: 5px 0 0 0;
	text-align: center;
	float: left;
	
	ul {
		list-style:none;
		margin: 0;
	}

	li {
		display: inline-block;
		margin: 0;

		a {
			font-size: 1.4em;
			color: $font-color;

			-webkit-transition: .5s all;
			-o-transition: .5s all;
			-moz-transition: .5s all;
			transition: .5s all;

			i {
				padding-top:10px;
			}

			&:hover {
				color: $primary-color;
				-webkit-transition: .5s all;
				-o-transition: .5s all;
				-moz-transition: .5s all;
				transition: .5s all;
			}
		}
	}
}

 



 
 